body{
    background: #1f2730;
}


#logo{
    width: 8rem;
    height: auto;
}

nav{
    opacity: 0.7;
}

header{
    min-height: 100vh;
    padding-top: 26rem;
    background: url(pics/MoonBalloon157.jpg) no-repeat center center fixed; 
    background-size: cover;
}

header .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}


header h1{
    margin-top: 30rem;
}

.about, .contact{
    margin: 8rem;
    line-height: 2rem;
}

.aboutItems{
    padding: 4rem 0;
}

.aboutItems img{
    max-width: 32rem;
    height: auto;
}

.pricelist{
    margin-bottom: 10rem;
    line-height: 2rem;
}

#prices p{
    line-height: 2rem;
}

#contact p{
    line-height: 2rem;
}

  